.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json
*.log
Thumbs.db
ehthumbs.db
Desktop.ini
*.nupkg
*.snupkg
.nuget/
publish/
MasterLabel/Properties/PublishProfiles/
MasterLabel/.config/
MasterLabel/*.csproj.user
*.sql
Read Me.txt
