<header>
    <img class="pichonkun" src="~/img/pichonkun.png" />
    <img class="daikinLogo" src="~/img/daikin.webp" />
</header>

<div class="container">
    <button class="btn btn-primary-btn-block flabber btn-pending" id="search">Search</button>

    <div class="form">
        <label for="job"></label>
        <input type="text" class="form-control" id="job" placeholder="Job">

        <label for="item"></label>
        <input type="text" class="form-control" id="item" placeholder="Item">

        <label for="serial-Number"></label>
        <input type="text" class="form-control" id="serial-Number" placeholder="Serial Number">

        <label for="description"></label>
        <input type="text" class="form-control" id="description" placeholder="Description">

        <label for="order-Number"></label>
        <input type="text" class="form-control" id="order-Number" placeholder="Order Number">

        <label for="ordline"></label>
        <input type="text" class="form-control" id="ordline" placeholder="Order line">

        <label for="lpn"></label>
        <input type="text" class="form-control" id="lpn" placeholder="LPN">

        <label for="tag-Number"></label>
        <input type="text" class="form-control" id="tag-Number" placeholder="Tag Number">

        <label for="ship-Code"></label>
        <input type="text" class="form-control" id="ship-Code" placeholder="ShipTo Code">

        <label for="irno"></label>
        <input type="text" class="form-control" id="irno" placeholder="IRNO">

        <label for="subinv"></label>
        <input type="text" class="form-control" id="subinv" placeholder="Subinv">

        <label for="date"></label>
        <input type="date" class="form-control" id="date" placeholder="Date">

        <label for="address"></label>
        <textarea id="address" name="address" rows="4" cols="50" placeholder="Address"></textarea>

        <button class="btn" id="confirm">Confirm</button>
    </div>
</div>